<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Minima core -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <!-- Your overrides -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

        <nav class="site-nav">
            <a href="{{ '/'    | relative_url }}">Home</a>
          <a href="{{ '/projects/' | relative_url }}">Portfolio</a>
          <a href="{{ '/about/'    | relative_url }}">About</a>
          <a href="{{ '/blog/'    | relative_url }}">Blog</a>
        </nav>
      </div>
    </header>

    <main class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      </div>
    </footer>
  </body>
</html>
